### Week 7: Analytical Engineering

# Lecture 3: SQL with Python üêç

>### üî• Warmer: Update Environment Variables
> It is not advisable to write your database user and password into a Python file, 
because it might end up in the wrong hands accidentally. To hide credentials from others you can define them as **environment variables** for your system.
>
>in your `.env` file add your PostgreSQL DBMS connection credentials (on GCP) key-value pairs 
>
>```python
POSTGRES_HOST = '34.159.xxx.xxx' # IP Address
POSTGRES_PORT = '5432'
POSTGRES_USER = 'postgres'
POSTGRES_PW = 'xxxxxxxx' # password to your SQL Server Instance
>
>DB_MUSIC = 'music'
>DB_CLIMATE = 'climate'
>```

### (Optional) Recap-Question: how can we access those credentials?

#### using ``dotenv_values``

The function dotenv_values works more or less the same way as load_dotenv , except it doesn't touch the environment, it just returns a dict with the values parsed from the `.env` file.

In [16]:
from dotenv import dotenv_values

config = dotenv_values("token.env")

# define variables for the login
username = config['POSTGRES_USER']
password = config['POSTGRES_PW']
host = config['POSTGRES_HOST']
port = config['POSTGRES_PORT']
db_music = config['DB_MUSIC']
db_climate = config['DB_CLIMATE']

In [17]:
list(dotenv_values().keys())

[]

#### using ``load_dotenv``

`load_dotenv()` temporary adds new key-value pairs to your environment variables, after python script stops / notebook restarts it is gone

In [22]:
import os
from dotenv import load_dotenv

load_dotenv("token.env")

True

In [21]:
list(os.environ)  #show all loaded environmental variables

['ALLUSERSPROFILE',
 'APPDATA',
 'CHROME_CRASHPAD_PIPE_NAME',
 'COLORTERM',
 'COMMONPROGRAMFILES',
 'COMMONPROGRAMFILES(X86)',
 'COMMONPROGRAMW6432',
 'COMPUTERNAME',
 'COMSPEC',
 'CONDA_DEFAULT_ENV',
 'CONDA_EXE',
 'CONDA_EXES',
 'CONDA_PREFIX',
 'CONDA_PROMPT_MODIFIER',
 'CONDA_PYTHON_EXE',
 'CONDA_ROOT',
 'CONDA_SHLVL',
 'DRIVERDATA',
 'GIT_ASKPASS',
 'HOMEDRIVE',
 'HOMEPATH',
 'IPY_INTERRUPT_EVENT',
 'JPY_INTERRUPT_EVENT',
 'JPY_PARENT_PID',
 'JPY_SESSION_NAME',
 'LANG',
 'LOCALAPPDATA',
 'LOGONSERVER',
 'NUMBER_OF_PROCESSORS',
 'ONEDRIVE',
 'ONEDRIVECONSUMER',
 'ORIGINAL_XDG_CURRENT_DESKTOP',
 'OS',
 'PATH',
 'PATHEXT',
 'PROCESSOR_ARCHITECTURE',
 'PROCESSOR_IDENTIFIER',
 'PROCESSOR_LEVEL',
 'PROCESSOR_REVISION',
 'PROGRAMDATA',
 'PROGRAMFILES',
 'PROGRAMFILES(X86)',
 'PROGRAMW6432',
 'PROMPT',
 'PSMODULEPATH',
 'PUBLIC',
 'SSL_CERT_FILE',
 'SYSTEMDRIVE',
 'SYSTEMROOT',
 'TEMP',
 'TERM_PROGRAM',
 'TERM_PROGRAM_VERSION',
 'TMP',
 'USERDOMAIN',
 'USERDOMAIN_ROAMINGPROFILE',
 'USERNAME',
 'USERPROFILE',
 'VSCODE_ENV_PREPEND',
 'VSCODE_ENV_REPLACE',
 'VSCODE_GIT_ASKPASS_EXTRA_ARGS',
 'VSCODE_GIT_ASKPASS_MAIN',
 'VSCODE_GIT_ASKPASS_NODE',
 'VSCODE_GIT_IPC_HANDLE',
 'VSCODE_INJECTION',
 'VSCODE_NONCE',
 'WINDIR',
 'ZES_ENABLE_SYSMAN',
 '_CONDA_OLD_CHCP',
 '__CONDA_OPENSLL_CERT_FILE_SET',
 'PYDEVD_USE_FRAME_EVAL',
 'TERM',
 'CLICOLOR',
 'FORCE_COLOR',
 'CLICOLOR_FORCE',
 'PAGER',
 'GIT_PAGER',
 'MPLBACKEND',
 'WEATHERAPI',
 'EMAIL',
 'POSTGRES_USER',
 'POSTGRES_PW',
 'POSTGRES_HOST',
 'POSTGRES_PORT',
 'DB_MUSIC',
 'DB_CLIMATE']

## Objectives

1. SQLAlchemy
2. Create a database connection (engine)
3. Run SQL statements
4. Reading and Writing tables with pandas
5. Creating Databases

# 1. SQLAlchemy üêç

SQLAlchemy provides tools for managing connections to a database, interacting with database queries and results, and construction of SQL statements in Python.

concept  |  description
---|---|
`sqlalchemy`      | high-level python library for managing all kinds of relational databases
`psycopg2`      |   low-level python library that actually manages the communication with a PostgreSQL DB
`create_engine()`      |   creates an `engine` that manages a conncetion to a DB
`'postgresql://<user>:<password>@<host>:<port>/<db>'` | the url, a string that contains all information needed to connect to a DB
`with engine.begin() as conn` | opens a database connection to read or write data
`conn.execute()` | submit arbitrary SQL statements to a DB
`df.to_sql(tablename, engine)` | write a pandas DataFrame into a table of a database
`pd.read_sql(tablename,engine)` | read a table as a DataFrame

https://www.sqlalchemy.org/

https://www.psycopg.org/docs/install.html

https://docs.sqlalchemy.org/en/14/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2

https://pypi.org/project/python-dotenv/

## üíæ Installation

Install the required libraries with `pip`:

```bash
pip install sqlalchemy
pip install psycopg2-binary
```

- **`sqlalchemy`** is the generic high-level database interface for Python. You can use it to connect to many different relational databases.   
- **`psycopg2`** is the low-level database driver specifically for Postgres.  
Usually `psycopg2` is not imported explicitly but is required by `sqlalchemy` when working with a Postgres Database Server.

In [23]:
!pip install sqlalchemy

# !pip install --upgrade sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.30-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --- ------------------------------------ 0.2/2.1 MB 3.5 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 5.3 MB/s eta 0:00:01
   ---------------- ----------------------- 0.8/2.1 MB 5.9 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 6.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 6.6 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 6.3 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   ------------------------------------ --- 266.2/293.6 kB 8.0 MB/s eta 0:00:01
   ---------------------------------------- 293.6/293.6 kB 6.0 MB/s eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.30 typing-extensions-4.12.2

In [24]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.1/1.2 MB 2.8 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.2 MB 4.7 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 5.5 MB/s eta 0:00:01
   -------------------------------------- - 1.1/1.2 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 5.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

# 2. Create a database connection üîåüè¶

To access your database, SQLAlchemy needs a connection string. Connection strings consist of six parts:

part | description | default value
--- | --- | ---
dialect | The dialect/ flavour of the relational database | ...
host | IP address or name of the database server machine | localhost
port | network port on the host machine | 5432
database | the name of your database | postgres
user | the user name of the PostgreSQL Server | postgres
password | the password of the database user | ...

In [1]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text  # to be able to pass string

### A ``connection string`` for postgresql could look like this:

```python
url = '<dialect>://<user>:<password>@<host>:<port>/<database>'
```

In [26]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values("token.env")

# define variables for the login
username = config['POSTGRES_USER']
password = config['POSTGRES_PW']
host = config['POSTGRES_HOST']
port = config['POSTGRES_PORT']
db_music = config['DB_MUSIC']

In [36]:
# Now building the URL with the values from the .env file

url = f'postgresql://{username}:{password}@{host}:{port}/movielens'

### With a connection string we can create an ``engine``:

In [37]:
engine = create_engine(url, echo=True)  #echo is a type of logging/reporting

The engine object manages connections to the database. It can be used to open new connections or to handle several connections at once.

In [38]:
# check your URL

engine.url # password is hidden

postgresql://postgres:***@34.89.241.139:5432/movielens

### Logging

`sqlalchemy` and `psycopg2` translate python statements into SQL commands that a
database server can understand. When creating the engine, you can set `echo=True` 
to print out all the raw SQL queries that are actually sent to the server 
in the background and are usually hidden from the Python programmer!

# 3. Run SQL statements üîß‚úèÔ∏èüìö

With an `engine` defined we can now send plain SQL statements to the server.

***PREVIEW: Simple reading example***

In [42]:
with engine.begin() as conn: # Done with echo=False
    result = conn.execute(text("SELECT * FROM movie_listing;"))
    #print(result.all())
    data = result.all()

2024-06-11 11:13:54,332 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-11 11:13:54,334 INFO sqlalchemy.engine.Engine SELECT * FROM movie_listing;
2024-06-11 11:13:54,335 INFO sqlalchemy.engine.Engine [cached since 41.57s ago] {}
2024-06-11 11:13:54,477 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
### Let's create a dataframe out of that
df = pd.DataFrame(data, columns=['movieid', 'title', 'genres','year'])

In [ ]:
df.hist

### üîß 3.1 Create a new table ``song_likes``:

Connecting to a database works like opening a connection to a local file.  

The connection stays open within the `with` block and will be closed afterwards. 

`conn.execute` sends the SQL statement to the server and optionally 
returns a result set.

In [ ]:
with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS song_likes;
        CREATE TABLE song_likes (
            id INT PRIMARY KEY,
            name VARCHAR,
            likes INTEGER
        );    
    """))

### ‚úèÔ∏è3.2 Insert some data:

Within a connection context we can send one or several statements at once:

In [ ]:
with engine.begin() as conn: # Done with echo=True
    conn.execute(text("INSERT INTO song_likes VALUES (2, 'Under Pressure', 2837)"))
    conn.execute(text("INSERT INTO song_likes VALUES (3, 'Who wants to live forever', 3998)"))
    conn.execute(text("INSERT INTO song_likes VALUES (4, 'Don''t stop me now', 285)"))

or

In [ ]:
with engine.begin() as conn: # Done with echo=True
    conn.execute(text('''
                        INSERT INTO song_likes VALUES (2, 'Under Pressure', 2837);
                        INSERT INTO song_likes VALUES (3, 'Who wants to live forever', 3998);
                        INSERT INTO song_likes VALUES (4, 'Don''t stop me now', 285);
                    '''))

#### Side Bar: Transactions

>
>**engine.begin():**  
The statements withing the `with` block are executed as a *transaction*. A transaction bundles several SQL statements into a single atomic unit (all 'conn.execute()' are treated as a single transaction). If any query fails (e.g., due to an error or constraint violation), the entire transaction is rolled back, and none of the queries take effect. **It is all or nothing.**
>
This is called *atomicity* and is one of the key features of a relational database. To send the statements without transaction use `engine.connect()` instead of `engine.begin()`.
>
>**engine.connect():**  
Each `conn.execute()` line is treated as a separate transaction. If a query fails, it doesn‚Äôt affect other queries executed earlier. You need to explicitly handle the transactions (commit or rollback) for each individual query.

### üìö 3.3 Reading data

We can also run `SELECT` statements and store the result in a variable `result`  

The method `result.all()` reads all rows from the result object and returns a list
of tuples:

In [ ]:
# let's read the newly created table

with engine.begin() as conn: # Done with echo=True
    result = conn.execute(text("SELECT * FROM song_likes;"))
    data_song = result.all()

print(data_song)
#returns a list of tuples, each tuple being a row in the table

The list of rows can then be converted into a `pd.DataFrame`:

In [ ]:
df = pd.DataFrame(data_songs, columns=['id', 'name', 'likes'])
df.set_index('id')

# 4. Reading üìö and Writing ‚úèÔ∏è tables with pandas üêº

Pandas has some built-in tools to directly read data from a database into a DataFrame:

In [46]:
# reading bands table into a dataframe

movies = pd.read_sql(sql=text('SELECT * FROM movie_listing;'), con=engine)#, index_col='band_name')
# songs = pd.read_sql(sql=text('SELECT * FROM song_likes;'), con=engine.connect())
movies

2024-06-11 11:27:31,194 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-06-11 11:27:31,195 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-06-11 11:27:31,196 INFO sqlalchemy.engine.Engine [cached since 246.5s ago] {'table_name': <sqlalchemy.sql.elements.TextClause object at 0x0000029582B6B0E0>, 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-06-11 11:27:31,197 INFO sqlalchemy.engine.Engine SELECT * FROM movie_listing;
2024-06-11 11:27:31,198 INFO sqlalchemy.engine.Engine [cached since 858.4s ago] {}
2024-06-11 11:27:31,353 INFO sqlalchemy.engine.Engine ROLLBACK

,movieid,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
9724,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9725,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9726,193585,Flint,Drama,2017
9727,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9728,193609,Andrew Dice Clay: Dice Rules,Comedy,1991

In [ ]:
# reading songs table into a dataframe

songs = pd.read_sql(sql=text('SELECT * FROM songs;'), con=engine)#, index_col='id')
songs

In [ ]:
# let's merge bands and songs on "band_name"

bands_songs = pd.merge(bands, songs, on='band_name', how='left')
bands_songs

#### With a one-liner, you can also import new data into the database:

In [ ]:
bands_songs.to_sql('bands_songs', engine, if_exists='replace', index=True)

In the background, this creates a new table with column definitions and inserts
the data into the table.

To get more control over the data types of the table 
you can run a `CREATE TABLE` statement before inserting data with pandas:

In [ ]:
## insert SQL within Python code

In [ ]:
with engine.begin() as conn:
    conn.execute(text("DROP TABLE IF EXISTS bands_songs;"))
    conn.execute(text("""
                        CREATE TABLE bands_songs (
                                                    id INT,
                                                    band_name VARCHAR,
                                                    style VARCHAR,
                                                    members INTEGER,
                                                    song VARCHAR
                                                    );
                        """))
    bands_songs.to_sql('bands_songs', conn, if_exists='append', index='id')

or we can define a dictionary with the data types and pass it to the pandas `.to_sql()` method. In this case would use the `engine` directly as we are not opening a connection within a `WITH` statement.

In [ ]:
## Pure Python

In [ ]:
dtype_dict = {'id' : types.INTEGER(), 
              'band_name' : types.VARCHAR(),
              'style' : types.VARCHAR(),
              'members' : types.INTEGER(),
              'song' : types.VARCHAR()}

bands_songs.to_sql('bands_songs', engine, if_exists='replace', index='id', dtype=dtype_dict)

# https://docs-sqlalchemy.readthedocs.io/ko/latest/core/type_basics.html
# https://docs.sqlalchemy.org/en/20/core/type_basics.htm

#### And if we don't  like the `bands_songs` table - we can simply drop it:

In [ ]:
with engine.begin() as conn:
    conn.execute(text("DROP TABLE IF EXISTS song_likes;"))

# 5. Creating Databases üî®

There are multiple ways to create a database using interfaces... 

interface  |  how-to
:---|:---|
psql shell |`CREATE DATABASE newname;` 
DBeaver |in an existing connection  right-click on 'Databases' > 'Create New Database'
GCP interface |‚Ä¢ go to console, go to the SQL view<br>‚Ä¢ on the left select 'Databases'<br>‚Ä¢ Look for the **‚äû Create Database** button

But if we want to create a database **via python script** (without direct human interaction) we can use the [**SQLAlchemy-Utils**](https://pypi.org/project/SQLAlchemy-Utils/) package which is built on top of SQLAlchemy.

In [47]:
pip install SQLAlchemy-Utils

Collecting SQLAlchemy-Utils
  Downloading SQLAlchemy_Utils-0.41.2-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\melin\miniconda3\lib\site-packages (from SQLAlchemy-Utils) (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\melin\miniconda3\lib\site-packages (from SQLAlchemy>=1.3->SQLAlchemy-Utils) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\melin\miniconda3\lib\site-packages (from SQLAlchemy>=1.3->SQLAlchemy-Utils) (3.0.3)
Downloading SQLAlchemy_Utils-0.41.2-py3-none-any.whl (93 kB)
   ---------------------------------------- 0.0/93.1 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/93.1 kB ? eta -:--:--
   -------------------------- ------------- 61.4/93.1 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 93.1/93.1 kB 1.3 MB/s eta 0:00:00
Installing collected packages: SQLAlchemy-Utils
Successfully installed SQLAlchemy-Utils-0.41.2
Note: you may need to restart the kernel to use updated packages.

### Let's update our engine with the database as climate

In [3]:
# getting credetnials from the .env
from dotenv import dotenv_values

config = dotenv_values("token.env")

# define variables for the login
username = config['POSTGRES_USER']
password = config['POSTGRES_PASS']
host = config['POSTGRES_HOST']
port = config['POSTGRES_PORT']
db_climate = config['DB_CLIMATE']

# updating the url
url = f'postgresql://{username}:{password}@{host}:{port}/climate'

# recreating the engine
engine = create_engine(url, echo=False)

KeyError: 'POSTGRES_USER'

In the following IF Statement the `database_exists(engine.url)` returns *True* if the database from the `url` exist and *False* if it doesn't.  

In case it is *not True* the `create_database(engine.url)` will connect to your instance and create the database

In [ ]:
from sqlalchemy_utils import database_exists, create_database

if not database_exists(engine.url):
    create_database(engine.url)